version: '3.8'
services:
  odoo:
    image: odoo:13
    ports:
      - "8069:8069"
    volumes:
      - odoo_data:/var/lib/odoo
    environment:
      - POSTGRES_DB=odoo
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo

volumes:
  odoo_data:
